@tailwind base;
@tailwind components;
@tailwind utilities;

img {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

html {
	-webkit-tap-highlight-color: transparent !important;
}

@keyframes scroll-down-indicator {
	0% {
		bottom: 0px;
	}
	20% {
		bottom: 4px;
	}
	40% {
		bottom: 8px;
	}
	60% {
		bottom: 2px;
	}
	80% {
		bottom: 4px;
	}
	100% {
		bottom: 0px;
	}
}

@layer utilities {
	.animate-scroll-down-indicator {
		animation-name: scroll-down-indicator;
		animation-duration: 3s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
}
